log_status "loading repository : ${_github_workspace_loading:-false}"

${_github_workspace_loading:-false} || {
  source_up;
}

env:xdg() {
  log_status "loading XDG environment"

  local cwd=$(realpath $PWD/.local)

  set -a
  export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-${cwd}/.config}
  export XDG_CACHE_HOME=${XDG_CACHE_HOME:-${cwd}/.cache}
  export XDG_DATA_HOME=${XDG_DATA_HOME:-${cwd}/.local/share}
  export XDG_STATE_HOME=${XDG_STATE_HOME:-${cwd}/.local/state}
  export XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR:-${cwd}/.local/xdg}
  set +a

  mkdir -p \
	${XDG_CONFIG_HOME} \
	${XDG_CACHE_HOME} \
	${XDG_DATA_HOME} \
	${XDG_STATE_HOME} \
	${XDG_RUNTIME_DIR}
}

env:maven() {
  set -a
  MAVEN_CONFIG+=" -Djgitver.skip=false"
  set +a
}

env:github() {
  local url=$( git config --get remote.origin.url )
  url=${url%.git}  # Remove .git suffix
  local -a parts
  IFS='/' read -r -a parts <<< "$url"  # Split the URL by /
  local owner=${parts[-2]}  # Extract the owner
  local repo=${parts[-1]}  # Extract the repository
  set -a
  GITHUB_ACTOR="$owner"
  GITHUB_REPOSITORY="${owner}/${repo}"
  set +a
}

env:github
env:xdg
env:maven
